:root{
  --colorBorderLetter: rgb(58, 94, 168);
}

@font-face{
  font-family: 'pokeFont';
  src: url('./font/PokemonSolid.ttf');
}

.App {
  text-align: center;
}

.App-logo {
  min-height: 35%;
  height: 35vmin;
  pointer-events: none;
}
.oscuro{
  filter: brightness(0%)
          blur(1.5px)
          contrast(.90);
        }

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 2s linear;
  }
}

.App-header {
  color: rgb(255,203,5);
/*   background-image: url("./whosthatpkmn.png");
  background-size: 100%; */
  height: 100vh;
  width: 50vw;
  position: relative;
/*   background-size: cover;
  background-repeat: no-repeat; */
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  0% {
    transform: scaleY(1.0) scaleX(1.0);
  }
  50% {
    transform: scaleY(1.3) scaleX(1.3);
  }
  100% {
    transform: scaleY(1.0) scaleX(1.0);
  }
}

p {
  padding: 0;
  margin: 0;
  font-family: 'pokeFont';
  font-size: 150%;
  filter: drop-shadow(-2px 0px 0px var(--colorBorderLetter))
          drop-shadow(0px 2px 0px var(--colorBorderLetter))
          drop-shadow(2px 0px 0px var(--colorBorderLetter))
          drop-shadow(0px -2px 0px var(--colorBorderLetter));
/*   text-shadow: -5px 0 var(--colorBorderLetter),
                0 5px var(--colorBorderLetter),
                5px 0 var(--colorBorderLetter),
                0 -5px var(--colorBorderLetter); */
  background-color:  rgb(255,203,5);
  color: rgba(255,203,5,0.5);
  text-shadow: 1px -1px 0px rgba(199,160,8, 0.5);
  background-clip: text;
  padding: 10px;
  letter-spacing: 0.1em;
}

/* p:nth-child(1)::after{
  content: var(--TEXTO-POKEMON);
} */

.xpBar{
  background-color: black;
  margin-top: 5px;
  border: 1px solid black;
  width: 20vw;
  height: 2vh;
}

#root{
  background-image: url("./whosthatpkmn.png");
  background-color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;
}

/* Phone screen */
@media (max-width: 768px){
  .App-header{
        width: 100vw;
  }
  #root{
    background-position: left;
  }
  .xpBar{
    height: 5vh;
    width: 45vw;
  }

}
